body {
    display: contents;
    width: 100%;
    height: 100%;
    font-family: "Montserrat Alternates", sans-serif;
}

nav{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #0e420c;
}

.logoEmpresa{
    height: 100%;
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 18px;
}

.container-links{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.links{
    height: 80%;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links2{
    height: 80%;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links ul, .links2 ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: white;
}

.links a, .links2 a{
    color: white;
    text-decoration: none;
}

.links a:hover, .links2 a:hover{
    color: aqua;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url(imagem/aquaponia_fundo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p{
    font-size: 60px;
    color: rgb(255, 255, 255);
}


.informacao{
    background-color: rgb(57, 68, 29);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.img{
    width: 35%;
    height: 80%;
    margin-left: 60px;
    border-radius: 100px;
}

.informacao p{
    text-align: center;
    font-size: 25px;
    margin-left: 120px;
}

.informacao h1{
    text-align: center;
    font-size: 35px;
    margin-left: 120px;
}

.conteudo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trabalho {
    background-color: rgb(35, 41, 20);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}


.trabalhoTexto {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trabalhoTexto p{
font-size: 25px;
}


.trabalhoTexto h1{
    font-size: 35px;
    margin-left: 25%;
}

.nos {
    background-image: url(./simulador-financeiro/imagem/fundo.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.informacaoNos {
    width: 80%;
    height: 60%;
    background-color: #020f029a;

    color: white;
    text-align: center;
    font-size: 28px;
}


.informacaoNos p{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer{
    height: 70px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;
    background-color: #0e420c;
}