body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat Alternates", sans-serif;
}

article{
    height: 800px;
    width: 100%;

    display: flex;
    justify-content: flex-start;

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../imagem/horta-piscina.png');
}

#navlogin{
    position: relative;

}

.container-formulario{
    height: 100%;
    font-family: "Montserrat Alternates", sans-serif;
}