body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat Alternates", sans-serif;
}

article{
    height: 80vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../imagem/horta-piscina.png');
}

.box-form{
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.9);
}

.formulario{
    height: 65%;
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.formulario input{
    height: 50px;
    width: 90%;
    padding-left: 3%;

    outline: none;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid black;
}

.div-buttons{
    height: 20%;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

a .btn-voltar{
    height: 80%;
    width: 23%;

    cursor: pointer;
    font-weight: bold;

    border-radius: 30px;
    background-color: white;
    border: 3px solid #026773;
}

.btn-voltar:hover{
    transition: 0.2s;
    color: white;
    background-color: #026773;
}

.btn-criarConta{
    height: 80%;
    width: 30%;

    border: 3px solid #026773;
    cursor: pointer;
    font-weight: bold;

    color: white;
    border-radius: 30px;
    background-color: #026773;
}

.btn-criarConta:hover{
    border: 3px solid #026773;
    color: black;
    transition: 0.3s;
    background-color: white;
}